*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Noto Sans Bengali',sans-serif;
}

body{
background:#0f2027;
color:#fff;
}

.hero{
text-align:center;
padding:40px;
}
.logo{
width:140px;
filter:drop-shadow(0 0 20px gold);
}
.hero h1{
color:gold;
font-size:36px;
}

.about{
padding:20px;
text-align:center;
opacity:.9;
}

.products{
padding:30px;
}
.products h2{
margin-bottom:15px;
color:#00ffd5;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

.grid img{
width:100%;
border-radius:14px;
transition:.4s;
}
.grid img:hover{
transform:scale(1.08);
box-shadow:0 0 25px #00ffd5;
}

.map iframe{
width:100%;
height:260px;
border-radius:15px;
border:none;
}

.whatsapp{
position:fixed;
right:20px;
bottom:20px;
background:#25d366;
padding:14px;
font-size:26px;
border-radius:50%;
color:white;
text-decoration:none;
box-shadow:0 0 20px #25d366;
}